<div class="row form-group">
    <div class="col-xs-12">
        <ul class="nav nav-pills nav-justified thumbnail setup-panel">
            <li class="active"><a href="#step-1">
                <h3 class="list-group-item-heading">
                <span class="glyphicon glyphicon-list-alt"></span></h3>
                <p class="list-group-item-text">Datos Básicos</p>
            </a></li>
            <li><a href="#step-2">
                <h3 class="list-group-item-heading">
                <span class="glyphicon glyphicon-home"></span></h3>
                <p class="list-group-item-text">Caracter&iacute;sticas del inmueble</p>
            </a></li>
            <li><a href="#step-3">
                <h3 class="list-group-item-heading">
                <span class="glyphicon glyphicon-check"></span></h3>
                <p class="list-group-item-text">Servicios, ambientes y adicionales</p>
            </a></li>
            
            <li><a href="#step-4">
                <h3 class="list-group-item-heading">
                <span class="glyphicon glyphicon-picture"></span></h3>
                <p class="list-group-item-text">Carga de Im&aacute;genes</p>
            </a></li>
        </ul>
    </div>
</div>