{% extends "NucleusHubCmsBundle::layout.html.twig" %}
{% block css %}  

{% endblock %}
{% block title %}
    <title>Propiet &middot; Privacidad</title>
{% endblock %}
{% block meta %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block breadcum %}
    <div class="row">
        {% include 'NucleusHubCmsBundle:Widget:breadcrumb.html.twig' with {'routes': routes} %}
    </div>
{% endblock %}

{% block content %}
<div class="row">
<div class="container">
        <div class="span4">
                <h3>Propiet.com Resumen de Privacidad</h3>
                <p></p>
                <p>
                  Nosotros nunca le enviaremos correo spam.
                </p>
                <p>No vamos a vender, distribuir o revelar su dirección de correo electrónico u otra información de la
                cuenta y sin su consentimiento.
                </p>
        </div>

        <div class="span12">
                <div class="page-header">
                        <h2>Política de privacidad</h2>
                </div>
                <p>
                    Sabemos que usted se preocupa por cómo se utiliza su información personal y es por eso que nos 

                    tomamos su privacidad muy en serio. Al visitar el sitio web de Propiet o haciendo uso de nuestras 

                    aplicaciones móviles, usted está aceptando las prácticas descritas en esta Política de Privacidad y 

                    nuestros Términos de uso.
               </p>
               <p>
                   Actualmente Recopilamos información como páginas visitadas y los parámetros de búsqueda para 
                    complementar nuestros registros y asi aprender qué páginas son más atractivas para nuestros 
                    clientes, que funciones son de interes y qué tipos de inmuebles les interesan. 
               </p>
               <div class="page-header">
                        <h2>Información recopilada por Propiet</h2>
                </div>
               <p>
                   Recopilamos información personal para ayudarle a comprar, vender o alquilar su casa. Esta 
                    información nos permite que les podamos proporcionar a nuestros usuarios una experiencia 
                    personalizada, eficiente y en general impresionante.
               </p>
                <div class="page-header">
                        <h2>Información que usted nos proporciona</h2>
                </div>
               <p>
                   Recibimos y almacenamos la información que usted ingrese en nuestro sitio Web o nos 

                    proporciona de cualquier otra manera. Usted puede optar por no proporcionarnos información 

                    específica, pero puede no ser capaz de aprovechar de todas nuestras funciones y potencial del 

                    negocio. El personal Propiet pueden tener acceso a la información del usuario si es necesario para 

                    el curso normal de los negocios. Todo se llevará a cabo con un alto nivel de profesionalismo en 

                    cuanto a la utilización de sus datos .
               </p>
               
               <div class="page-header">
                        <h2>Registro</h2>
                </div>
               <p>
                   Para que usted utilice los servicios de Propiet como las búsquedas guardadas, favoritos, consultas 
                    de inmuebles o publicar aviso debe completar un formulario de inscripción. Como parte de este 
                    mismo se requiere seleccionar la información personal.
               </p>
               <p>
                   Usted puede solicitar que se elimine la su cuenta Propiet por correo electrónico en 
                    <strong>info@propiet.com</strong>
               </p>
               
               <div class="page-header">
                        <h2>Comentarios y Calificaciones</h2>
                </div>
               <p>
                   Estamos orgullosos de la transparencia; es por eso que examinamos todos nuestros clientes para
                    evaluar periódicamente sus experiencias tanto en nuestro sitio web como con nuestro recurso 
                    humano.
               </p>
               
               <div class="page-header">
                        <h2>Mensajes En foros, blogs y avisos.</h2>
                </div>
               <p>
                   Cualquier información que usted publique en nuestros foros,blogs y avisos estará a la vista del 
                    público.
               </p>
               
               <div class="page-header">
                        <h2>Información Automática</h2>
                </div>
               <p>
                   Recibimos y almacenamos la información cuando usted interactúa con nosotros. Esto incluye 

                los datos de dirección de tráfico y de IP de nuestro servidor e información de cookies Propiet. 

                Utilizamos esta información para ayudar a diagnosticar problemas con el servidor, analizar 

                tendencias, administrar el sitio web y mejorar la experiencia del usuario.
               </p>
               <p>
                   Además, cuando haya iniciado sesión utilizando Facebook , Twitter o cualquier otro servicio de

                    autorización de terceros, podemos hacer uso de los datos que nos proporcionan para personalizar 

                    aún más su experiencia.
               </p>
               
                <div class="page-header">
                        <h2>Comunicaciones por correo electrónico</h2>
                </div>
               <p>
                   Nunca proporcione su dirección de correo electrónico a un tercero sin su permiso explícito. 
                    Propiet puede enviar Emails con noticias relacionadas con la empresa, encuestas o promociones. 
                    También puede suscribirse a los correos electrónicos de alerta de listado con resúmenes de 
                    inmuebles.
               </p>
               <p>
                   Si no desea recibir correos electrónicos nuestros, por favor visite la sección de preferencias de 
                    correo electrónico de ….. y siga las instrucciones de correo electrónico no deseado.
               </p>
               
               <div class="page-header">
                        <h2>Cookie</h2>
                </div>
               <p>
                   Ponemos una cookie en su ordenador para mantener un registro de cuando usted ingreso por

                    última vez en el sitio, cuál fue su última búsqueda y cómo está usando nuestro servicio. Usted 

                tiene la posibilidad de desactivar las cookies desde su navegador pero le recomendamos que las 

                deje activadas para mejorar su experiencia de uso.
               </p>
               
                <div class="page-header">
                        <h2>Mantenemos la información segura</h2>
                </div>
               <p>
                   Su Información personal está protegida en nuestro servidor con los más altos estándares 

                    internacionales de seguridad informática.
               </p>
               
               <div class="page-header">
                        <h2>Cambios en esta Política de Privacidad</h2>
                </div>
               <p>
                   Propiet podrá modificar parcial o totalmente esta Política de Privacidad en el momento que 
considere correcto.
               </p>
               
        </div>
</div>
</div>
{% endblock %}

{% block js %}
{% endblock %}