{% extends "NucleusHubCmsBundle::layout.html.twig" %}
{% block css %}  

{% endblock %}
{% block title %}
    <title>Propiet &middot; T&eacute;minos y Condiciones</title>
{% endblock %}
{% block meta %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block breadcum %}
    <div class="row">
        {% include 'NucleusHubCmsBundle:Widget:breadcrumb.html.twig' with {'routes': routes} %}
    </div>
{% endblock %}

{% block content %}
<div class="row">
<div class="container">

        <div class="span4">
                <h3>Términos y avisos legales</h3>
                <p></p>
                <p>
                    Al acceder a este sitio web usted acepta que quedará vinculado por los términos y condiciones 
                    siguientes. Este Acuerdo contiene el acuerdo de arbitrar todos los reclamos y se exime de las 
                    garantías y de responsabilidad civil. Estas disposiciones constituyen una base esencial del acuerdo 
                    entre usted y Propiet.
                </p>
                <p>Términos y condiciones para usuarios del sitio web</p>
        </div>

        <div class="span12">
                <div class="page-header">
                        <h2>1 . Cookies</h2>
                </div>
                <p>Al utilizar el sitio Web y la introducción de la información personal, el usuario entiende que él o 
                    ella puede adquirir cookies u otros archivos informáticos que Propiet utiliza para identificar a los 
                    usuarios .
               </p>
               <p>
                   Actualmente Recopilamos información como páginas visitadas y los parámetros de búsqueda para 
                    complementar nuestros registros y asi aprender qué páginas son más atractivas para nuestros 
                    clientes, que funciones son de interes y qué tipos de inmuebles les interesan. 
               </p>
               
               <p><strong>1.1 Google Analytics</strong></p>
               <p>
               Nuestra página web utiliza Google Analytics, un servicio analítico de web prestado por Google 

                Inc. Google Analytics utiliza "cookies", que son archivos de texto ubicados en su ordenador para 

                ayudar al website a analizar cómo los usuarios utilizan el sitio . La información que genera la 

                cookie acerca de su uso del website (incluyendo su dirección IP ) será directamente transmitida y

                archivada por Google en los servidores de Estados Unidos. Google usará esta información con el 

                propósito de evaluar su uso del website, recopilando informes de la actividad del sitio web para 

                operadores de sitios web y prestando otros servicios relacionados con la actividad del website y

                el uso de Internet. Google podrá transmitir dicha información a terceros cuando así lo requiera la 

                legislación, o cuando dichos terceros procesen la información por cuenta de Google. Google no 

                asociará su dirección IP con ningún otro dato del que disponga. Usted puede rechazar el uso de 

                cookies mediante la selección de la configuración apropiada de su navegador , sin embargo, tenga 

                en cuenta que si lo hace puede ser que no pueda usar la plena funcionabilidad de este website. Al 

                utilizar este sitio usted es consiente del tratamiento de información acerca de Usted por Google en 

                la forma y para los fines arriba indicados .
               </p>
               
                <p><strong>1.2 de Google Maps</strong></p>
               <p>
                Nuestro sitio cuenta con Google Maps, por favor revise su política de privacidad, aviso legal y 
                condiciones de uso.
               </p>
               
               
               
                <div class="page-header term">
                    <h2>2. Compartir información</h2>
                </div>
                <p>
                    Al utilizar el sitio Web y la introducción de la información personal, el usuario entiende que

                    Propiet utilizará dicha información para fines internos. Propiet se encarga de controlar que la 

                    información del usuario no sea transmita a las personas no autorizadas o el público en general, 

                    pero no se hace responsable de este tipo de transmisión de información por robo, la piratería o los 

                    errores de software.
                </p>
                
                
                
                <div class="page-header term">
                        <h2>3. Información de Agregación</h2>
                </div>
                <p>
                    Propiet no se hace responsable de los posibles errores en la información o los retrasos en la 

                    visualización de la información mostrada. Toda la información en el sitio Web es producida por 

                    Propiet, otras entidades o personas y/o se obtuvo a través de fuentes oficiales accesibles al 

                    público. Agradecemos que los Errores en la exactitud de los datos los puedan notificar los usuarios 

                    a Propiet enviando feedback (retroalimentación), pero es probable que esa imprecisión de la 

                    información no pueda ser corregida por Propiet. Por ejemplo : información incorrecta listada de 

                    inmobiliarios colegas del rubro, sólo se puede cambiar por el productor de la información.
                </p>
                
                
                <div class="page-header term">
                        <h2>5 . Webscraping de Listado y datos de la propiedad no se permite</h2>
                </div>
                <p>
                    Rastreo de Propiet.com y sitios de redes está permitido solo para su inclusión en los resultados del 

                    motor de búsqueda web Google. Webscraping, descarga o webcrawling de cualquier propiedad 

                    u otros datos para ser incluidos en otro sitio inmobiliario búsqueda, agregador de contenidos, o 

                    cualquier otro propósito está terminantemente prohibido sin el consentimiento previo por escrito 

                    de Propiet.
                </p>
                
                
                <div class="page-header term">
                        <h2>6 . Moderación</h2>
                </div>
                <p>Nos reservamos el derecho de admisión de los usuarios en Propiet.com y el derecho de 

                supervisar el contenido y borrar cualquier contenido que no se adhiere a las reglas, incluyendo el 

                que es despectivo o insultante .</p>

                
                
                
                <div class="page-header changes">
                        <h2>7 . Enlaces</h2>
                </div>
                <p>
                    Los enlaces proporcionados en este sitio Web son puestos allí para la conveniencia del usuario .

                    Los enlaces pueden ser dirigidas a contenidos de terceros, lo que significa que Propiet no tiene

                    control sobre lo que está publicado en los lugares de destino. Propiet no avala ni promueve ni

                    patrocina el contenido encontrado después de hacer clic en un enlace que envía un usuario a un

                    sitio de tercera parte. Si el contenido ligado parece tener un error o le parece objetable, envíe sus 

                    comentarios para que Propiet pueda revisar el contenido y hacer los cambios en los enlaces en

                    caso necesario.
                </p>
                
                 <div class="page-header term">
                        <h2>8 . Registro de una cuenta en Propiet.com</h2>
                </div>
                <p>
                    Al registrarse en una cuenta de Propiet usted está aceptando los siguientes términos y condiciones.
                </p>
                <p>
                    Todo el contenido, ya sea públicamente anunciado o privadamente transmitido, es

                    responsabilidad exclusiva de la persona que originó dicho Contenido. No podemos vigilar o 

                    controlar el contenido publicado a través de otros Servicios o sistemas y no podemos asumir la 

                    responsabilidad de tal Contenido. Cualquier uso o dependencia de cualquier contenido a través

                    del Sitio web es bajo su propio riesgo. Usted certifica que no va a cargar o publicar contenido 

                    inapropiado, como la blasfemia, la obscenidad, el contenido calumnioso, etc.
                </p>
                
                <p>
                    Al enviar, publicar o mostrar el Contenido a través del Servicio Propiet, usted nos concede una 

                    licencia mundial, libre de regalías no exclusiva (con derecho a sublicenciar) para usar, copiar, 

                    reproducir, procesar, adaptar, modificar, publicar, transmitir, mostrar y distribuir dicho Contenido 

                    en cualquier medio o método de distribución (actualmente conocido o que se desarrolle a futuro).
                </p>
                
                
                <div class="page-header changes">
                    <h2>10 . Renuncias y Limitaciones de responsabilidad</h2>
                </div>
                <p>
                    Propiet tiene la intención de que la información contenida en este sitio Web sea exacta y fiable,

                    sin embargo, a veces se producen errores. Además, los cambios y mejoras en la información 

                    proporcionada en este documento pueden ser hechas por Propiet en cualquier momento. ESTE 

                    SITIO WEB Y LA INFORMACIÓN, SOFTWARE , PRODUCTOS Y SERVICIOS RELACIONADOS CON ÉL 

                    SE OFRECEN " TAL CUAL". PROPIET Y / O SUS PROVEEDORES O PROFESIONALES INMOBILIARIOS 

                    NO OTORGAN NINGUNA GARANTÍA DE NINGÚN TIPO, YA SEA EXPRESA O IMPLÍCITA , EN CUANTO 

                    A CUALQUIER ASUNTO RELACIONADO CON ESTE SITIO WEB Y CUALQUIER INFORMACIÓN, 

                    SOFTWARE, PRODUCTOS Y SERVICIOS PRESTADOS EN EL PRESENTE, INCLUYENDO SIN LIMITACIÓN 

                    LAS GARANTÍAS IMPLÍCITAS DE COMERCIALIZACIÓN, IDONEIDAD PARA UN PROPÓSITO 

                    PARTICULAR , TÍTULO Y NO INFRACCIÓN. EL USO DE ESTE SITIO WEB Y / O SERVICIOS DE PROPIET 

                    ES BAJO SU PROPIO RIESGO. PROPIET Y / O SUS PROVEEDORES O PROFESIONALES INMOBILIARIOS 

                    NO SON RESPONSABLES POR DAÑOS DIRECTOS , INDIRECTOS, MORALES, ACCIDENTALES, 

                    ESPECIALES O EMERGENTES U OTROS DAÑOS DERIVADOS DESDE O CONECTADOS CON EL USO 

                    DE ESTE SITIO WEB Y / O SERVICIOS DE PROPIET O CON LA DEMORA O LA IMPOSIBILIDAD DE 

                    USO DE ESTE SITIO WEB, O DE CUALQUIER INFORMACIÓN, SOFTWARE, PRODUCTOS Y SERVICIOS 

                    OBTENIDOS A TRAVÉS DE ESTE SITIO WEB, O CUALQUIER OTRA FORMA DERIVADOS DEL USO DE 

                    ESTE SITIO WEB, YA SEA COMO RESULTADO EN SU TOTALIDAD O EN PARTE, DE INCUMPLIMIENTO 

                    DE CONTRATO, CONDUCTA INADECUADA, NEGLIGENCIA, ESTRICTA RESPONSABILIDAD, O 

                    CUALQUIER OTRA FORMA, AÚN CUANDO PROPIET Y / O SUS PROVEEDORES HUBIERAN SIDO 

                    INFORMADOS DE LA POSIBILIDAD DE TALES DAÑOS.
                </p>
                
                
                <div class="page-header term">
                     <h2>10.1 Indemnización</h2>
                </div>
                <p>
                    Al utilizar este sitio, Propiet se desliga de toda responsabilidad por el uso indebido que cualquier

                    usuario pudiere hacer. de Los usuarios no pueden utilizar este sitio web con fines ilegales, de 

                    acoso, propósitos inmorales o perjudiciales.
                </p>

                <div class="page-header changes">
                        <h2>10.2 DURACIÓN Y TERMINACIÓN</h2>
                </div>
                <p>
                    La prestación del servicio de Sitio Web y de los demás Servicios tiene, en principio, una duración

                    indefinida. PROPIET, no obstante, está autorizada para dar por terminada o suspender la 

                    prestación del servicio del Sitio Web y/o de cualquiera de los Servicios en cualquier momento, 

                    sin perjuicio de lo que se hubiere dispuesto al respecto en las correspondientes Condiciones 

                    Particulares.
                </p>
                
                
                
                
                
                
                
                 <div class="page-header changes">
                        <h2>Changes to terms</h2>
                </div>
                <p>If we change our terms of use we will post those changes on this page. Registered users will be sent an email that outlines changes made to the terms of use.</p>
        
                 <div class="page-header changes">
                        <h2>Changes to terms</h2>
                </div>
                <p>If we change our terms of use we will post those changes on this page. Registered users will be sent an email that outlines changes made to the terms of use.</p>
        
                 <div class="page-header changes">
                        <h2>Changes to terms</h2>
                </div>
                <p>If we change our terms of use we will post those changes on this page. Registered users will be sent an email that outlines changes made to the terms of use.</p>
        

                </div>
        </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}