<form action="{{path('admin_publicaciones_search')}}" method="post" >
    <input type="hidden" name="page" value="{{routes[1]['title']}}">
    <div class="input-group input-group-lg">
        <input type="text" name="address" class="form-control" placeholder="Dirrección N°">
    </div>
</form>