<div class="row setup-content" id="step-3">
<div class="container">
  <div class="col-xs-12 well">
    <form id="form-step-3" class="form-horizontal" role="form" novalidate="novalidate">
        <div class="panel panel-info">
		  <div class="panel-heading">
		    <h3 class="panel-title"><span class="glyphicon glyphicon-check"> Servicios</h3>
		  </div>
		  <div id="step3-container-services" class="panel-body"></div>
		</div>
	
		<div class="panel panel-info">
		  <div class="panel-heading">
		    <h3 class="panel-title"><span class="glyphicon glyphicon-check"> Ambientes</h3>
		  </div>
		  <div id="step3-container-ambiences" class="panel-body"></div>
		</div>
	
		<div class="panel panel-info">
		  <div class="panel-heading">
		    <h3 class="panel-title"><span class="glyphicon glyphicon-check"> Adicionales</h3>
		  </div>
		  <div id="step3-container-features" class="panel-body"></div>
		</div>	    
  		<div class="row">
            <div class="col-md-6 col-md-offset-3">
                <button id="last-step" type="submit" class="btn btn-success btn-lg btn-block">		Publicar y Continuar <span class="glyphicon glyphicon-share-alt"></span></button>
            </div>
  		</div>  
    </form>
  </div>
  </div>
</div>